#main{
    
    width:90%;
    margin: 0 auto;
    height: 500px;   
}
#big-box-input,.big-box-res{
    border: 1px solid #749b7c;
    border-radius: 8px;
    padding: 4px;
    float:left;
    width: 100%;
    margin:0 auto;
}
#big-box-input h3,h4{
    text-align: center;
    clear: both;
    height: 25px;
}

.box,.box2,.box3{
    width:90%;
    margin:0 auto;
    clear: both;
    }
.box-mini{
    width:33%;
    float:left;
    padding-right: 8px;
    margin:5px 0 5px 0;
    text-align: right;
    }
.box select {
    float: left;
     width: 25%;
}
.box span{
    float: left;
    padding-right: 8px;
    margin:5px 0 5px 0;
    width: 20%;
    text-align: right;
    font-weight: bold;
}

.box input{
    float: left;
    width: 40%;
    margin: 5px 0 5px 0;
}
.box textarea {
    float: left;
    width: 60%;
    margin: 5px 0 5px 0;
}
.box button{
    float: left;
    width: 10%;
    margin: 5px 0% 5px 20%;
    
}
.box2 span{
    float: left;
    padding-right: 8px;
    margin:5px 0 5px 0;
    width: 15%;
    text-align: right;
    font-weight: bold;
}
.box2 select {
    float: left;
     width: 30%;
     margin:4px 0 15px 0;
}
.box2 input{
    float: left;
    width: 30%;
    margin: 3px 0 5px 0;
    
}
.box2 textarea {
    float: left;
    width: 75%;
    margin: 5px 0 5px 0;
}
.box3 span{
    float: left;
    padding-right: 8px;
    margin:5px 0 5px 0;
    width: 15%;
    text-align: right;
    font-weight: bold;
}

.box3 input{
    float: left;
    width: 9%;
    margin: 3px 0 5px 0;
    
}
.box3 textarea {
    float: left;
    width: 50%;
    margin: 5px 0 5px 0;
}
.box-input{
    width: 90%;
    margin:0 auto;
    clear: both;
}
table.ref
    {
    border: 1px solid black;
    border-collapse:collapse;
    width:100%;
    margin: 0 auto;
    
    }
table.ref td,th 
    {
    border:1px solid black;
    padding:3px;
    
    vertical-align:top;
    }
ul.nav li
	{
	display:inline;
	float:left;
	margin: 10px 5px;
	background: #9bc0ae;
    text-align: right;
	}
ul.nav li a
	{
	display:block;
	text-decoration:none;
	color:	black;
	padding: 3px 8px;
	}
ul.nav li:hover
	{
	background:  #749b7c;
    cursor: pointer;
	}
ul.nav li.cur
	{
	font-weight:bold;
	padding: 3px 8px;
    color: aliceblue;
    background:  #749b7c;
	}
 #hint{
    color: red;
    display: block;
    height: 20px;
    padding-left:30% ;
    }
/*-------------phan dinh dang cho ket qua tim kiem--------------------------------------------------------*/    
.right{
    text-decoration: none;
    text-align: right;
    height: 20px;
}


.row {
    clear:both;
   
}
