#main{
    
    width:90%;
    margin: 0 auto;
    height: 500px;   
}
#big-box-input{
    border: 1px solid #749b7c;
    border-radius: 8px;
    padding: 4px;
    float:left;
    width: 100%;
    margin:0 auto;
}
#big-box-input h3,h4{
    text-align: center;
    clear: both;
    height: 25px;
}
.box{
    width:90%;
    margin:0 auto;
    clear: both;
    }
.box-mini{
    width:33%;
    float:left;
    padding-right: 8px;
    margin:5px 0 5px 0;
    text-align: right;
    }
.box select {
    float: left;
     width: 30%;
}
.box span{
    float: left;
    padding-right: 8px;
    margin:5px 0 5px 0;
    width: 15%;
    text-align: right;
}
.box input{
    float: left;
    width: 35%;
    margin: 5px 0 5px 10%;
}
.box #get_id {
    float: left;
    width: 20%;
    margin: 5px 0 5px 25%;
}
.box button{
    float: left;
    width: 7%;
    margin: 5px 0% 5px 2%;
}
.box-input{
    width: 90%;
    margin:0 auto;
    clear: both;
}
.or{
    float: left;
    padding-right: 8px;
    margin:18px 0 0 0;
    width: 33%;
    text-align: right;
}
.combo-input{
    width:30%;
    float:left;    
}
.combo-input input{
    width:100%;
    float:left;
    margin-top:5px;    
}
.combo-input input #get_name{
    width:100%;
    float:left;
    margin-top:5px;    
}
.button{
    float: left;
    padding-left: 12px;
    margin:15px 0 5px 0;
    width: 33%;
   
}
#hint{
    color: red;
    display: block;
    height: 20px;
    padding-left:30% ;
    }
/*-------------phan dinh dang cho ket qua tim kiem--------------------------------------------------------*/    
.right{
    text-decoration: none;
    text-align: right;
    height: 20px;
}
.main-content{
    
    width:100%;
    margin-top: 15px;
    float: left;
    border: 1px solid #749b7c;
    border-radius: 8px;
    padding: 4px 4px 15px 4px;
    
    
}
.info-edit{
    
   color: #666666;
   margin-bottom: 10px;
   position: relative;
   
  
}
.box-title{ 
     background:#9bc0ae;
     padding:2px 8px 0 8px;
     height: 24px;
  
}

.box-title h3{    
    color:#333; 
    font-weight:bold; 
    padding-left:12px; 
    font-size:15px;
    line-height: 21px;
    background: none;
}
.bgedit{
   width: 100%;
   height: auto; 
   position :relative; 
}
.info-edit img{
   width:18%;
   margin: 5px;   
   height:auto;
   float: right ;
   

}


/*-------------------------inside lylichsoluoc---------------------------*/
#peinfo,#inschool,#inwork,#insci {
     /*e4e4e3;*/
    height: auto;	
}

.row {
    clear:both;
   
}
.row2 {
    clear:both;
    padding-left:19%;
    width: 100%;
}
.row3 {
    float: left;
    width: 80%;
}

.bcl{ 
    float:left;
    width:18%; 
    text-align:right; 
    margin:4px 0 0 0;
    font-weight:bold;
   
}
.bcr{ 
    float:left; 
    width:30%;
    color:black;
    padding-left:8px;
    margin-top:4px;  
}
.ccl{ 
    float:left;
    width:22%; 
    text-align:right; 
    margin:4px 0 0 0;
    font-weight:bold;
    
}
.ccr{ 
    float:left; 
    width:76%;
    color:black;
    padding-left:8px;
    margin-top:4px; 
}
.dcr{ 
    float:left; 
    width:80%;
    color:black;
    padding-left:8px;
    margin-top:4px; 
}
.line {
    border-bottom:1px solid #000;
    height:15px;
    }
.mini_line {
    border-bottom:1px solid #D3A06D;
    height:10px;
    width: 95%;
    margin: 0 auto;
    }
.mid{
    width:100%; 
    text-align:center; 
    margin:5px 0 5px 0;
    font-weight:bold;      
}
.mid h3{    
    color:#333; 
    font-weight:bold; 
    font-size:16px;
    line-height: 21px;
}

